<div style="font-size:smaller;margin-top:-20px;width: 100%; height: 86vh; min-height:86vh; overflow-y: auto" ng-class="main" class="container container-fluid col-sm-12" autoscroll="true">
   <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Classified Balance Sheet: &nbsp;
        <span ng-model="currentfye" >{{currentfye | date: mmm-dd-yyyy}} </span>
        </h3>
        </div>
       <div class="panel-body">
        <span ng-model="openclient" >{{openclient[0].name}}</span> <br/>
        <table class="table table-responsive" style="border-collapse:collapse" >
        <thead>
        <tr style="background-color:#000;color:#fff">
        <td><table><tr><td><strong>Account</strong></td></tr></table></td>
         <td ><table><tr><td width="100" align="right">Py Bal</td></tr></table></td>
         <td><table><tr><td width="100"  align="right">Unadj. Bal.</td></tr></table></td>
         <td><table><tr><td width="100"  align="right">Dr.</td></tr></table></td>
         <td><table><tr><td width="100"  align="right">Cr</td> </tr></table></td>
         <td><table><tr><td width="100"  align="right">Adj. Bal.</td> </tr></table></td>
        </tr>
        </thead>
        <tbody>
        <tr><td colspan="5"><strong><h3 class="bg-info text-white" >Assets</h3></strong></td></tr>
        <tr><td colspan="5"><h4 class="bg-info text-white px-2 py-2">Current Assets</h4></td></tr>
         <tr ng-if="isCurrentAccount(account)" ng-repeat="account in accounts |  filter : {'class' : 'CurrentAsset'} | orderBy : 'ssort' "   >
         <td >{{account.name}}</td>
          <td >
         <table  ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.pybal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td >
         <table  ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalance(account) | number:2}}</td>
         </tr>
         </table>
         </td> 
         
         <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong>&nbsp;Sub Total Current Assets</strong></td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsPy('CurrentAsset') | number: 2}}</td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsUnadj('CurrentAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td  style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsDebits('CurrentAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td  style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsCredits('CurrentAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td  style="border-top: solid #4393c1 .1em" width='100' align='right' >{{getSubTotalsAdj('CurrentAsset') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr>
          
         <tr><td colspan="5"><h4 class="bg-info text-white px-2 py-2">Fixed Assets</h4></td>
         <tr ng-if="isCurrentAccount(account)" ng-repeat="account in accounts |  filter : {'class' : 'FixedAsset'} | orderBy : 'ssort'  ">
         <td >{{account.name}}</td>
          <td >
         <table  ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.pybal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalance(account) | number:2}}</td>
         </tr>
         </table>
         </td>

         <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong>&nbsp;Sub Total Fixed Assets</strong></td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsPy('FixedAsset') | number: 2}}</td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsUnadj('FixedAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsDebits('FixedAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsCredits('FixedAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right' >{{getSubTotalsAdj('FixedAsset') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr>

         <tr><td colspan="5"><h4 class="bg-info text-white px-2 py-2">Other Assets</h4></td>
         <tr ng-if="isCurrentAccount(account)" ng-repeat="account in accounts |  filter : {'class' : 'Other Assets'} | orderBy : 'ssort' ">
         <td >{{account.name}}</td>
          <td >
         <table  ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.pybal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalance(account) | number:2}}</td>
         </tr>
         </table>
         </td>

         <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong>&nbsp;Sub Total Other Assets</strong></td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsPy('Other Assets') | number: 2}}</td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsUnadj('Other Assets') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsDebits('Other Assets') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsCredits('Other Assets') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right' >{{getSubTotalsAdj('Other Assets') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr> 

         <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong><h4>&nbsp;Total Assets</h4></strong></td></tr></table></td>
         <td style="padding-top:20px"><table><tr ><td style="border-bottom: double #4393c1; border-top: solid  #4393c1 .1em"  width='100' align='right'>{{getTotalsPy('Asset') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr ><td style="border-bottom: double #4393c1; border-top: solid  #4393c1 .1em"  width='100' align='right'>{{getTotalsUnadj('Asset') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid   #4393c1 .1em; " width='100' align='right'>{{getTotalsDebits('Asset') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid  #4393c1 .1em; "  width='100' align='right'>{{getTotalsCredits('Asset') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top:  solid   #4393c1 .1em;" width='100' align='right' >{{getTotalsAdj('Asset') | number: 2}}</td> </tr></table></td>


         </tr>
         </tr>

         

         <tr><td colspan="5"><strong><h3 class="bg-info text-white px-2 py-2">Liabilities</h3></strong></td></tr>
         <tr><td colspan="5"><h4 class="bg-info text-white px-2 py-2">Current Liabilities</h4></td>
         <tr ng-if="isCurrentAccount(account)" ng-repeat="account in accounts |  filter : {'class' : 'CurrentLiability'} | orderBy : 'ssort' ">
         <td >{{account.name}}</td>
         <td >
         <table  ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.pybal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalance(account) | number:2}}</td>
         </tr>
         </table>
         </td>

         <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong>&nbsp;Sub Total Current Liabilities</strong></td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsPy('CurrentLiability') | number: 2}}</td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsUnadj('CurrentLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsDebits('CurrentLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsCredits('CurrentLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right' >{{getSubTotalsAdj('CurrentLiability') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr> 


         <tr><td colspan="5"><h4 class="bg-info text-white px-2 py-2">Long Term Debt</h4></td>
         <tr ng-if="isCurrentAccount(account)" ng-repeat="account in accounts |  filter : {'class' : 'LongTermLiability'} | orderBy : 'ssort' ">
         <td >{{account.name}}</td>
          <td >
         <table  ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.pybal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalance(account) | number:2}}</td>
         </tr>
         </table>
         </td>

         <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong>&nbsp;Sub Total Long Term Debt</strong></td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsPy('LongTermLiability') | number: 2}}</td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsUnadj('LongTermLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsDebits('LongTermLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsCredits('LongTermLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right' >{{getSubTotalsAdj('LongTermLiability') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr> 



        <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong><h4>&nbsp;Total Liabilities</h4></strong></td></tr></table></td>
         <td style="padding-top:20px"><table><tr ><td style="border-bottom: double #4393c1; border-top: solid  #4393c1 .1em"  width='100' align='right'>{{getTotalsPy('Liability') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right'>{{getTotalsUnadj('Liability') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right'>{{getTotalsDebits('Liability') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right'>{{getTotalsCredits('Liability') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right' >{{getTotalsAdj('Liability') | number: 2}}</td> </tr></table></td>


         </tr>

         </tr>

         <tr><td colspan="5"><strong><h3 class="bg-info text-white px-2 py-2">Equity</h3></strong></td></tr>
         <tr><td><h4>Equity</h4></td>
         <tr ng-if="isCurrentAccount(account)" ng-repeat="account in accounts |  filter : {'class' : 'Equity'} | orderBy : 'ssort' ">
         <td >{{account.name}}</td>
          <td >
         <table  ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.pybal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td class="ajeedit" ng-click="getAje(openclient[0].name,entry.ajeid)" width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalance(account) | number:2}}</td>
         </tr>
         </table>
         </td>

         <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong>&nbsp;Sub Total Equity</strong></td></tr></table></td>
          <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsPy('Equity') | number: 2}}</td></tr></table></td>
         <td ><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsUnadj('Equity') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsDebits('Equity') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right'>{{getSubTotalsCredits('Equity') | number: 2}}</td></tr></table></td>
         <td><table><tr><td style="border-top: solid #4393c1 .1em" width='100' align='right' >{{getSubTotalsAdj('Equity') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr> 



        <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong><h4>&nbsp;Total Equity</h4></strong></td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em"  width='100' align='right'>{{getTotalsPy('Equity') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em"  width='100' align='right'>{{getTotalsUnadj('Equity') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right'>{{getTotalsDebits('Equity') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right'>{{getTotalsCredits('Equity') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right' >{{getTotalsAdj('Equity') | number: 2}}</td> </tr></table></td>


         </tr>

         </tr>

         <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong><h4>&nbsp;Net Income</h4></strong></td></tr></table></td>
           <td style="padding-top:20px"><table><tr><td width='100' align='right'>{{getTotalsPy('Revenue') - getSubTotalsPy('CostOfGoodsSold') - getSubTotalsPy('SellingExpenses') -getSubTotalsPy('GeneralExpenses') + getSubTotalsPy('OtherIncome')  -getSubTotalsPy('OtherExpense') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td width='100' align='right'>{{getTotalsUnadj('Revenue') - getSubTotalsUnadj('CostOfGoodsSold') - getSubTotalsUnadj('SellingExpenses') -getSubTotalsUnadj('GeneralExpenses') + getSubTotalsUnadj('OtherIncome')  -getSubTotalsUnadj('OtherExpense') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td  width='100' align='right'>{{getTotalsDebits('Revenue') + getSubTotalsDebits('CostOfGoodsSold') + getSubTotalsDebits('SellingExpenses') + getSubTotalsDebits('GeneralExpenses') + getSubTotalsDebits('OtherIncome')  + getSubTotalsDebits('OtherExpense') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td width='100' align='right'>{{getTotalsCredits('Revenue') + getSubTotalsCredits('CostOfGoodsSold') + getSubTotalsCredits('SellingExpenses')  + getSubTotalsCredits('GeneralExpenses') + getSubTotalsCredits('OtherIncome')  + getSubTotalsCredits('OtherExpense')| number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td  width='100' align='right' >{{getTotalsAdj('Revenue') - getSubTotalsAdj('CostOfGoodsSold') - getSubTotalsAdj('SellingExpenses') -getSubTotalsAdj('GeneralExpenses') + getSubTotalsAdj('OtherIncome')  - getSubTotalsAdj('OtherExpense')| number: 2}}</td> </tr></table></td>


         </tr>
         </tr>


         <tr class="bg-primary text-white px-2 py-2">
         <td><table><tr><td><strong><h4>&nbsp;Total Liabilities & Equity</h4></strong></td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right'>{{getTotalsPy('Revenue') - getSubTotalsPy('CostOfGoodsSold') - getSubTotalsPy('SellingExpenses') -getSubTotalsPy('GeneralExpenses') + getSubTotalsPy('OtherIncome')  -getSubTotalsPy('OtherExpense') + getTotalsPy('Equity') + getTotalsPy('Liability')| number: 2}} </td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right'>{{getTotalsUnadj('Revenue') - getSubTotalsUnadj('CostOfGoodsSold') - getSubTotalsUnadj('SellingExpenses') -getSubTotalsUnadj('GeneralExpenses') + getSubTotalsUnadj('OtherIncome')  -getSubTotalsUnadj('OtherExpense') + getTotalsUnadj('Equity') + getTotalsUnadj('Liability')| number: 2}} </td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right'>{{getTotalsDebits('Revenue') + getSubTotalsDebits('CostOfGoodsSold') + getSubTotalsDebits('SellingExpenses') + getSubTotalsDebits('GeneralExpenses') + getSubTotalsDebits('OtherIncome')  + getSubTotalsDebits('OtherExpense') + getTotalsDebits('Equity') + getTotalsDebits('Liability')| number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em" width='100' align='right'>{{getTotalsCredits('Revenue') + getSubTotalsCredits('CostOfGoodsSold') + getSubTotalsCredits('SellingExpenses')  + getSubTotalsCredits('GeneralExpenses') + getSubTotalsCredits('OtherIncome')  + getSubTotalsCredits('OtherExpense') + getTotalsCredits('Equity') + getTotalsCredits('Liability') | number: 2}}</td></tr></table></td>
         <td style="padding-top:20px"><table><tr><td style="border-bottom: double #4393c1; border-top: solid #4393c1 .1em"width='100' align='right' >{{getTotalsAdj('Revenue') - getSubTotalsAdj('CostOfGoodsSold') - getSubTotalsAdj('SellingExpenses') -getSubTotalsAdj('GeneralExpenses') + getSubTotalsAdj('OtherIncome')  - getSubTotalsAdj('OtherExpense') + getTotalsAdj('Equity') + getTotalsAdj('Liability') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr>

        

         </tbody>
         </table>
         </div>
      
       </div>
      </div>
    </div>
  </div>



