<div class="container container-fluid col-sm-10" ng-controller="TBcontroller">
<div class="panel-group">
 <div class="panel panel-primary">
  <div class="panel-heading">Close Fiscal Year</div>
   <div class="panel-body">
  <form name="closeYearForm">
    <table class="table table-condensed">
      <thead>
       <tr>
        <th >Client Name</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Fiscal Year</th>
        <th>Close</th>
       </tr>
      </thead>
       <tbody>
        <tr>
        <td><span   ng-model="openclient[0].name">{{openclient[0].name}} &nbsp;{{currentfye | date: mm-dd-yyyy}}</span></td>
        <td>
         <div class="form-group form-group-sm col-xs-5" ng-class="{'has-error' :closeYearform.fye.$invalid && closeYearForm.fye.$dirty}">
         <input name="fye" ng-required="true" ng-model="nextfye" type="date" class="form-control" id="fye" placeholder="Enter Fiscal Year End ">
         </div> 
        </td>
        <td><button type="button" class="btn btn-default btn-sm" ng-click="closeFye(nextfye)" ng-disabled="closeYearForm.$invalid || nextfye <= currentfye ">
        <span class="glyphicon glyphicon-cog"></span> Close Year</button> </td>
        <td>
        </tr>
        <tr>
         <td colspan="5"><span class="error-message" ng-if="closeYearForm.fye.$dirty &&  (closeYearForm.fye.$error.required || nextfye <= currentfye)">
             Fiscal Year is Required and Must be After Current Fiscal Year End</span>
         </td>
         </tr>
       </tbody>
      </table>
    </form>
    </div>
 </div>
</div>
</div>