<div style="margin-top:-50px" ng-class="main" class="container container-fluid col-sm-10">
  <div  class="page-header">
   <h1  >Welcome to Trial Balance Express &nbsp;<small>version 1</small></h1>
  </div>
   <div class="panel-group">
     <div class="panel panel-primary">
      <div class="panel-heading">Client Information &nbsp;<span class="glyphicon glyphicon-home" /></div>
       <div class="panel-body">
       <h4>Client Name:</h4><p ng-model="openclient[0].name"><strong class="text-primary text-large"><h3>{{openclient[0].name}}</h3></strong></p>
       <h4>Fiscal Year End:</h4><p ng-model="currentfye"><strong class="text-primary text-large"><h3>{{currentfye | date: 'MM-dd-yyyy'}}</h3> </strong></p>
       </div>
     </div>
   </div>
   <span>{{ajeList[0]}}</span>
   <span>{{ajeList[17]}}</span>
    <span>{{ajeEdit[0]}}&nbsp;{{$scope.openclientfyes[1] }} {{currenttbday}}{{currenttbyear}}{{currenttbmonth}} </span>
 </div>